{
  "extends": ["react/core-web-vitals", "prettier"],
  "plugins": ["prettier", "unused-imports", "simple-import-sort"],
  "rules": {
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ]
  },
  "ignorePatterns": ["node_modules", "public"]
}